<div class="container">
  <div *ngIf="!submitted">
    <h1>Compound Interest Calculator</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="startingAmount">Starting Amount</label>
        <input type="number" class="form-control" name="startingAmount" #startingAmount="ngModel" [(ngModel)]="model.startingAmount" required>
        <div class="alert alert-danger" [hidden]="startingAmount.valid">Starting Amount is required</div>
      </div>
      <div class="form-group">
        <label for="time">Time (in years)</label>
        <input type="number" class="form-control" name="time" #time="ngModel" [(ngModel)]="model.time" required>
        <div class="alert alert-danger" [hidden]="time.valid">Alter Ego is required</div>
      </div>
      <div class="form-group">
        <label for="contributionAmount">Contribution Amount</label>
        <input type="number" class="form-control" name="contributionAmount" #contributionAmount="ngModel" [(ngModel)]="model.contributionAmount" required>
        <div class="alert alert-danger" [hidden]="contributionAmount.valid">Contribution Amount is required</div>
      </div>
      <div class="form-group">
        <label for="contributionFrequency">Contribution Frequency</label>
        <select class="form-control" name="contributionFrequency" #contributionFrequency="ngModel" [(ngModel)]="model.contributionFrequency" required>
          <option *ngFor="let p of contributionFrequencies" [value]="p">{{ p }}</option>
        </select>
        <div class="alert alert-danger" [hidden]="contributionFrequency.valid">Power is required</div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!heroForm.valid">Submit</button>
    </form>
  </div>
  <div *ngIf="submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-md-2">Name</div>
      <div class="col-md-10 pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Alter Ego</div>
      <div class="col-md-10 pull-left">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Power</div>
      <div class="col-md-10 pull-left">{{ model.power }}</div>
    </div>
    <br />
    <button class="btn btn-default" (click)="submitted=false">Edit</button>
  </div>
</div>